#set( $p = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${p}${p} $originalAppName Project

This project is a golang based service.
Also included is some of the best practices found on the web and developer preference.

${p}${p} Prerequisites
Once you have this repo cloned to your local file system you can use go installed locally to build it.

${p}${p} Getting Started
Build this locally by running:

CGO_ENABLED=0 GOOS=linux go build -o $originalAppName -a -tags netgo -ldflags '-w' .

${p}${p} Running the application
Open terminal or command line and run:

./$originalAppName

Additional documentation for this template project is available at <https://github.optum.com/pages/cloud-scaffolding/docs/codegen/go>
