<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <parent>
    <groupId>$groupId</groupId>
    <artifactId>$artifactId</artifactId>
    <version>1.0-SNAPSHOT</version>
  </parent>
  <artifactId>${artifactId}-database</artifactId>
	
  <dependencies>
    <dependency>
      <groupId>mysql</groupId>
      <artifactId>mysql-connector-java</artifactId>
      <version>5.1.41</version>
    </dependency>
    <dependency>
        <groupId>org.hsqldb</groupId>
        <artifactId>hsqldb</artifactId>
        <version>2.3.4</version>
    </dependency>
  </dependencies>

  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <id>local</id>
      <properties>
        <liquibase.properties>liquibase/liquibase.properties</liquibase.properties>
      </properties>
    </profile>
    <profile>
      <activation>
        <property>
          <name>env</name>
          <value>dev</value>
        </property>
      </activation>
      <id>dev</id>
      <properties>
        <liquibase.properties>liquibase/liquibase.dev.properties</liquibase.properties>
        <MYSQL_SERVICE_HOST>${env.MYSQL_SERVICE_HOST}</MYSQL_SERVICE_HOST>
        <MYSQL_DATABASE>${env.MYSQL_DATABASE}</MYSQL_DATABASE>
        <MYSQL_USER>${env.MYSQL_USER}</MYSQL_USER>
        <MYSQL_PASSWORD>${env.MYSQL_PASSWORD}</MYSQL_PASSWORD>
      </properties>
    </profile>
    <profile>
      <activation>
        <property>
          <name>env</name>
          <value>test</value>
        </property>
      </activation>
      <id>test</id>
      <properties>
        <liquibase.properties>liquibase/liquibase.test.properties</liquibase.properties>
        <MYSQL_SERVICE_HOST>${env.MYSQL_SERVICE_HOST}</MYSQL_SERVICE_HOST>
        <MYSQL_DATABASE>${env.MYSQL_DATABASE}</MYSQL_DATABASE>
        <MYSQL_USER>${env.MYSQL_USER}</MYSQL_USER>
        <MYSQL_PASSWORD>${env.MYSQL_PASSWORD}</MYSQL_PASSWORD>
      </properties>
    </profile>
    <profile>
      <activation>
        <property>
          <name>env</name>
          <value>stage</value>
        </property>
      </activation>
      <id>stage</id>
      <properties>
        <liquibase.properties>liquibase/liquibase.stage.properties</liquibase.properties>
        <MYSQL_SERVICE_HOST>${env.MYSQL_SERVICE_HOST}</MYSQL_SERVICE_HOST>
        <MYSQL_DATABASE>${env.MYSQL_DATABASE}</MYSQL_DATABASE>
        <MYSQL_USER>${env.MYSQL_USER}</MYSQL_USER>
        <MYSQL_PASSWORD>${env.MYSQL_PASSWORD}</MYSQL_PASSWORD>
      </properties>
    </profile>
    <profile>
      <activation>
        <property>
          <name>env</name>
          <value>prod</value>
        </property>
      </activation>
      <id>production</id>
      <properties>
        <liquibase.properties>liquibase/liquibase.prod.properties</liquibase.properties>
        <MYSQL_SERVICE_HOST>${env.MYSQL_SERVICE_HOST}</MYSQL_SERVICE_HOST>
        <MYSQL_DATABASE>${env.MYSQL_DATABASE}</MYSQL_DATABASE>
        <MYSQL_USER>${env.MYSQL_USER}</MYSQL_USER>
        <MYSQL_PASSWORD>${env.MYSQL_PASSWORD}</MYSQL_PASSWORD>
      </properties>
    </profile>
  </profiles>

  <build>
  	<resources>
  		<resource>
  			<directory>src/main/resources</directory>
  			<filtering>true</filtering>
  			<includes>
  				<include>**/*.properties</include>
  			</includes>
  		</resource>
  	</resources>
    <plugins>
      <plugin>
        <groupId>org.liquibase</groupId>
        <artifactId>liquibase-maven-plugin</artifactId>
        <version>3.5.3</version>
        <configuration>
        	<propertyFile>${liquibase.properties}</propertyFile>
        	<promptOnNonLocalDatabase>false</promptOnNonLocalDatabase>
        </configuration>
        <executions>
                    <execution>
                        <phase>pre-integration-test</phase>
                        <goals>
                            <goal>update</goal>
                        </goals>
                    </execution>
          </executions>
       
      </plugin>
    </plugins>
  </build>
</project>
