#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
'use strict';

// https://www.npmjs.com/package/swagger-jsdoc
// http://swagger.io/specification/

module.exports = {
  swaggerDefinition: {
    info: {
      title: '$artifactId',
      description: 'A Node.js application',
      version: '1.0.0'
    },
    produces: [
      'application/json'
    ],
    basePath: '/api'
  },
  apis: [
    './routes/*.js'
  ]
};
