#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${package}.web.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RestController;

import ${package}.core.service.HealthService;

@RestController
@RequestMapping("/api/v1/health")
public class HealthController
{
	@Autowired HealthService healthService;

	@RequestMapping(method = RequestMethod.GET)
    public String check()
	{
        return healthService.check();
    }
}
