#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${package}.core.service;

import java.net.URI;

import org.springframework.stereotype.Service;
import org.springframework.web.client.RestTemplate;

import com.netflix.hystrix.contrib.javanica.annotation.HystrixCommand;

@Service
public class HealthService 
{
	@HystrixCommand(fallbackMethod = "reliable")
	public String check() 
    {
    	/**		THIS IS DESINGED TO FAIL	**/
    	RestTemplate restTemplate = new RestTemplate();
        URI uri = URI.create("http://localhost:8080/fail");

        return restTemplate.getForObject(uri, String.class);
	}

	public String reliable() 
	{
		return "Hystrix Health Check";
	}
}