package com.optum.opi.${appName};

import static org.hamcrest.CoreMatchers.is;
import static org.junit.Assert.assertThat;
import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Method;
import org.hamcrest.core.IsNull;
import org.junit.Before;
import org.junit.Test;

import com.optum.opi.${appName}.config.SwaggerConfig;
import springfox.documentation.service.ApiInfo;

/**
 * The SwaggerConfigTest to test the application swagger ui configuration
 *
 * @author AUTHOR, AUTHOR_EMAIL
 * @version VERSION
 */
public class SwaggerConfigTest {
    SwaggerConfig swaggerConfig;

    @Before
    public void setUp() {
        swaggerConfig = new SwaggerConfig();
    }

    @Test
    public void testSetup() throws NoSuchMethodException, SecurityException, IllegalAccessException, IllegalArgumentException, InvocationTargetException {
        assertThat(swaggerConfig.api(), is(IsNull.notNullValue()));

        final Method privateMethod = SwaggerConfig.class.getDeclaredMethod("apiInfo", null);
        privateMethod.setAccessible(true);
        final ApiInfo apiInfo = (ApiInfo) privateMethod.invoke(swaggerConfig, null);

        assertThat(apiInfo, is(IsNull.notNullValue()));
    }
}