<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>$groupId</groupId>
    <artifactId>$artifactId</artifactId>
    <version>1.0-SNAPSHOT</version>
    <packaging>pom</packaging>

    <parent>
        <groupId>com.uhg</groupId>
        <artifactId>parent</artifactId>
        <version>2.0.2</version>
    </parent>

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <applicationVersion>1.0.0</applicationVersion>
        <java.ver>1.8</java.ver>
        <version.cloudsdk>4.0.4-RELEASE</version.cloudsdk>
        <version.compiler.plugin>2.3.2</version.compiler.plugin>
        <version.slf4j>1.7.12.5</version.slf4j>
        <version.hibernate>5.1.0.5</version.hibernate>
        <version.hibernate.ogm>5.1.0.Final</version.hibernate.ogm>
        <springframework.boot.version>1.4.1.RELEASE</springframework.boot.version>
    </properties>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <!-- Import dependency management from Spring Boot -->
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-dependencies</artifactId>
                <version>${springframework.boot.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-starter-aop</artifactId>
                <version>${springframework.boot.version}</version>
            </dependency>
            <dependency>
                <groupId>com.optum.cloudsdk</groupId>
                <artifactId>cloudsdk-slf4j-jars</artifactId>
                <version>${version.slf4j}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
		</dependencies>
	</dependencyManagement>

	<profiles>
		<profile>
			<id>jboss</id>
			<activation>
				<property>
					<name>container</name>
					<value>jboss</value>
				</property>
			</activation>
			<dependencyManagement>
				<dependencies>
				       <dependency>
                            <!-- Import dependency management from Spring Boot -->
                            <groupId>org.springframework.boot</groupId>
                            <artifactId>spring-boot-dependencies</artifactId>
                            <version>${springframework.boot.version}</version>
                            <type>pom</type>
                            <scope>import</scope>
                        </dependency>
                            <dependency>
                                <groupId>org.springframework.boot</groupId>
                                <artifactId>spring-boot-starter-aop</artifactId>
                                <version>${springframework.boot.version}</version>
                      </dependency>
					<dependency>
						<groupId>javax.enterprise</groupId>
						<artifactId>cdi-api</artifactId>
						<version>1.2</version>
						<scope>provided</scope>
					</dependency>
					<dependency>
						<groupId>javax.ws.rs</groupId>
						<artifactId>javax.ws.rs-api</artifactId>
						<version>2.0.1</version>
						<scope>provided</scope>
					</dependency>
					<dependency>
						<groupId>com.optum.cloudsdk</groupId>
						<artifactId>cloudsdk-hibernate-jars</artifactId>
						<version>${version.hibernate}</version>
						<type>pom</type>
						<scope>import</scope>
					</dependency>
				</dependencies>
			</dependencyManagement>
		</profile>
		<profile>
			<id>tomcat</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<dependencyManagement>
				<dependencies>
					<dependency>
						<groupId>javax.enterprise</groupId>
						<artifactId>cdi-api</artifactId>
						<version>1.2</version>
					</dependency>
					<dependency>
						<groupId>javax.ws.rs</groupId>
						<artifactId>javax.ws.rs-api</artifactId>
						<version>2.0.1</version>
					</dependency>
					<dependency>
						<groupId>com.optum.cloudsdk</groupId>
						<artifactId>cloudsdk-hibernate-jars</artifactId>
						<version>${version.hibernate}</version>
						<type>pom</type>
						<scope>import</scope>
					</dependency>
				</dependencies>
			</dependencyManagement>
		</profile>
	</profiles>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>${version.compiler.plugin}</version>
                <configuration>
                    <source>${java.ver}</source>
                    <target>${java.ver}</target>
                </configuration>
            </plugin>
        	<plugin>
    			<groupId>org.apache.maven.plugins</groupId>
    			<artifactId>maven-dependency-plugin</artifactId>
    			<executions>
        		<execution>
            		<id>copy-dependencies</id>
            		<phase>prepare-package</phase>
            		<goals>
                		<goal>copy-dependencies</goal>
            		</goals>
            		<configuration>
                		<outputDirectory>${project.build.directory}/classes/lib</outputDirectory>
                		<overWriteReleases>false</overWriteReleases>
                		<overWriteSnapshots>false</overWriteSnapshots>
                		<overWriteIfNewer>true</overWriteIfNewer>
            		</configuration>
        		</execution>
    			</executions>
			</plugin>
	
        </plugins>
    </build>
    <modules>
        <module>api</module>
        <module>core</module>
        <module>web</module>
        <module>database</module>
    </modules>
</project>
